body{ /*global*/
    background-color: rgb(105, 16, 16);
    color: white;
}

h1{ /*global*/
    padding: 20px 10px 5px 10px;
    text-shadow: 2px 3px black; /*not used in class*/
}

a:link{ /*global*/
    color: white;
    padding-left: 80;
    padding-top: 20;
    padding-bottom: 10;
    padding-right: 80;
    margin-right: 50px;
}

a:visited{ /*global*/
    color:black;
}

a:hover{ /*global*/
    color:rgb(58, 3, 3);
}

.link-image{ /*local*/
    padding: 20;
    outline-style:double; /*not used in class*/
}

li{ /*global*/
    text-align: left;
}

#table-of-contents{ /*local*/
    text-align: center;
}

#video{ /*local*/
    padding-left: 0; /*changed the padding for just the one link while keeping all the others under the global style for links*/
}

#homepage{ /*local*/
    padding-left:0;
}

#photo{ /*local*/
    background-image: linear-gradient(rgb(105, 16, 16), rgb(0, 0, 0));/*gradient background not used in class*/

}